<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body class="container">

    <%- include('../partials/header', {pagina: 'sobre'}) %>

    <main>
        <div class="conteudo">
            <h1>Sobre min</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni repellat rerum nam hic eaque ipsa esse illum corrupti libero quaerat nisi maxime pariatur labore, illo harum, veritatis mollitia dignissimos ipsam?</p>
        </div>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>